<% form_for(@strip) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :story %><br />
    <%= f.text_area :story %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note, :rows => 6 %>
  </div>
  <h3>Categories:</h3>
  <% for category in Category.all %>
  <div>
    <%= check_box_tag "strip[category_ids][]", category.id, @strip.categories.include?(category) %>
    <%= category.title %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
