<div id="content">
<h2 class="img-title"><%= @strip.title %></h2>

<center>
<img src="http://dl.dropbox.com/u/3426859/mykomiks/<%= @strip.url %>.gif" alt="<%= @strip.title %>" />
</center>

<p style="display:none">
  <%= @strip.story %>
</p>
</div>

<div id="nav"><%= link_to raw('<span>&lt; Prev</span>'), @prev %> &nbsp; <%= link_to raw('<span>Next &gt;</span>'), @next %></div>

