<h1>Listing strips</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Story</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @strips.each do |strip| %>
  <tr>
    <td><%= strip.title %></td>
    <td><%= strip.url %></td>
    <td><%= strip.story %></td>
    <td><%= link_to 'Show', strip %></td>
    <td><%= link_to 'Edit', edit_strip_path(strip) %></td>
    <td><%= link_to 'Destroy', strip, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New strip', new_strip_path %>
