<p>
  <b>Strip:</b>
  <%= @comment.strip_id %>
</p>

<p>
  <b>Author:</b>
  <%= @comment.author %>
</p>

<p>
  <b>Email:</b>
  <%= @comment.email %>
</p>

<p>
  <b>Website:</b>
  <%= @comment.website %>
</p>

<p>
  <b>Body:</b>
  <%= @comment.body %>
</p>

<p>
  <b>Approved:</b>
  <%= @comment.approved %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
