<center>
<br />
<% form_for(@response) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :name, "Name*" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, "Email <i>(*wanna hear from us?)</i>" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :subject %>
    <%= f.select :subject, [["Komment", "comment"], ["Suggestion", "suggestion"], ["Issue", "issue"], ["Kopyright", "copyright"], ["Other", "other"]] %>
  </div>
  <div class="field">
    <%= f.text_area :comment, :rows => 10, :cols => 35 %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
</center>

